<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birthday Reminder App</title>
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="icon" type="image/x-icon" href="favicon.svg"> -->
</head>
<body>
    <h1>Birthday Reminder App</h1>
    <div class="container">
        <h2>Your Birthday Details</h2>
        <p class="para">Please Input Your Birthday Details For Reminders</p>
        <form action="/" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" class="username" placeholder="Username" required>
            <label for="email">Email</label>
            <input type="email" name="email" class="email" placeholder="Email" required>
            <label for="DOB">Date of Birth</label>
            <input type="date" name="DOB" class="dob" required>
            <button type="submit">Save</button>
        </form>
    </div>

</body>
</html>
